.movie-action {
    .moviedesc {
        padding: 10px;
        background-color: #F1F1F1;
    }
    h3 {
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        color: #28AEAC;
        border-left: 2px solid #28AEAC;
        padding-left: 6px;
        margin-bottom: 11px;
    }
}