.movie-action {
    touch-action: none;
    position: relative;
    overflow-x: hidden;
    h5 {
        line-height: 32px;
        color: #2F2E2E;
        width: 100%;
        span {
            float: right;
            font-size: 16px;
            color: #5FC3C2;
        }
    }
    .moviedesc {
        padding: 10px;
        background-color: #F1F1F1;
    }
    h3 {
        height: 14px;
        font-size: 14px;
        margin: 18px 0;
        color: #28AEAC;
        border-left: 2px solid #28AEAC;
        padding-left: 6px;
    }
    .ant-slider {
        float: left;
        width: 70%;
    }
    .ant-input-number {
        float: left;
        width: 18%;
    }
    .action-content {
        padding: 0 10px;
    }
    .ant-calendar-picker {
        width: 100%;
        float: left;
    }
    .ant-calendar {
        width: 100%;
    }
    .ant-calendar-picker-container {
        width: 100%;
    }
    .message-tip {
        color: #C4C4C4;
        line-height: 14px;
        font-size: 12px;
        margin: 0 10px;
        & a {
            display: block;
            text-align: left;
            font-size: 13px;
            line-height: 26px;
            i {
                float: right;
                font-size: 14px;
            }
        }
    }
    .action-list {
        background-color: #F1F1F1;
        li {
            padding: 10px;
            background-color: #FFFFFF;
            p {
                font-size: 13px;
                line-height: 26px;
                color: #777777;
            }
            input {
                width: 100%;
                color: #DADADA;
                padding-left: 10px;
                border: 1px solid gray;
                margin: 5px 0;
                border-radius: 3px;
                line-height: 52px;
                font-size: 16px;
            }
        }
    }
    .action-footer {
        font-size: 16px;
        background-color: white;
        height: 50px;
        width: 100%;
        margin: 0 -10px;
        em {
            width: 75%;
            height: 50px;
            line-height: 50px;
            font-style: normal;
            display: inline-block;
            color: black;
            box-shadow: inset 0px -1px 1px -1px;
            padding-left: 10px;
            i {
                color: #FF595F;
                font-weight: 600;
            }
        }
        a {
            width: 25%;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 16px;
            background-color: #CCCCCC;
        }
        a.active {
            background-color: #FF595F;
        }
    }
    .editor {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 100%;
        top: 0;
        transition: 0.3s;
        background-color: white;
        z-index: 10;
        textarea {
            width: 100%;
            resize: none;
            height: 30%;
        }
        .editor-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        a {
            width: 50%;
            line-height: 50px;
            display: inline-block;
            height: 50px;
            text-align: center;
        }
        a:nth-of-type(1) {
            color: gray;
            box-shadow: inset 0px -1px 1px -1px;
            background-color: white;
        }
        a:nth-of-type(2) {
            color: white;
            background-color: #FF595F;
            right: 0;
        }
    }
}