.carousel {
    &>div div {
        height: 120px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.caro {
    text-align: center;
    position: relative;
    span {
        display: inline-block;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -27px;
    }
    i {
        width: 8px;
        height: 8px;
        background-color: whitesmoke;
        display: inline-block;
        margin: 5px;
        border-radius: 50%;
    }
    .active {
        background-color: #3e9abf;
    }
}