.user-page {
    background-color: #f1f1f1;
    height: 100%;
    h1 {
        padding: 0 10px;
        background-color: whitesmoke;
        margin-bottom: 0.1rem;
        img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
        a {
            padding: 20px 0;
            margin-right: 20px;
            display: inline-block;
        }
        span {
            font-size: 15px;
            line-height: 100px;
            display: inline-block;
        }
        i {
            font-size: 15px;
            display: inline-block;
            line-height: 100px;
            float: right;
            font-style: normal;
        }
    }
    ul {
        padding: 0 10px;
        margin-bottom: 0.1rem;
        background-color: whitesmoke;
    }
    li {
        font-size: 15px;
        line-height: 55px;
        box-shadow: inset 0px -1px 1px -1px #c8c7cc;
        i {
            font-style: normal;
            float: right;
        }
        span {
            font-size: 15px;
        }
    }
}